/* general styles */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "lato", sans-serif;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  text-align: center;
  background: url(/assets/image_processing20200420-25423-11mnem.gif) no-repeat
    center center/ cover;
}

.container {
  width: 550px;
  height: 450px;
}

.header {
  font-size: 1.2rem;
  border: 2px solid white;
  color: white;
  background-color: #262626;
  padding: 5px;
  width: 80%;
  margin: 20px auto;
  border-radius: 5px;
}

.main-content {
  width: 100%;
  height: 300px;
  background-color: white;
  border-radius: 15px;
  padding: 50px 40px;
  box-shadow: 0 0 10px;
  display: flex;
  justify-items: center;
  align-items: center;
  flex-direction: column;

  .text-area {
    font-size: 1.2rem;
    line-height: 1.2;
  }

  .person {
    font-size: 1.6rem;
    color: red;
    text-transform: uppercase;
    margin-top: 20px;
  }
}

.button-area {
  button {
    border: none;
    box-shadow: 3px 3px 1px black;
    background-color: #262626;
    color: white;
    font-size: 1.3rem;
    padding: 10px 15px;
    margin-top: 20px;
    border-radius: 5px;
    cursor: pointer;
    transition: 5ms ease-in-out;
    &:active {
      background-color: lightblue;
    }
  }
}
